.form-header {
  margin-top: 0.7rem;
}

.form-header > .form-header-title {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

.form-header > .form-header-steps {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.form-header > .form-header-steps > .form-step-item {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 100%;
  color: var(--text-light);
  cursor: pointer;
}

.form-header > .form-header-steps > .active-step {
  background-color: #3434da;
}

.form-header > .form-header-steps > .inactive-step {
  background-color: #a4a3a3;
}
