.form-content-section {
  padding: 1.5rem 0;
  text-align: left;
}

.form-content-section > .alert-card {
  margin-bottom: 1.1rem;
  background-color: #ff4242f1;
  color: #f2f2f2;
  border-radius: 10px;
}

.form-content-section > .alert-list {
  list-style-type: disc;
  padding-left: 1.2rem;
}
